{{>layout/header}}

<div class="col-md-12">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#savePostsModal">글 등록</button>
    <br/>
    <br/>

    <!-- 목록 출력 영역 -->
    <table class="table table-horizontal table-bordered">
        <thead class="thead-strong">
        <tr>
            <th>아이디</th>
            <th>닉네임</th>
            <th>관리자 여부</th>
            <th>가입일</th>
        </tr>
        </thead>
    </table>
</div>

{{>layout/footer}}
