{{>layout/header}}

<div class="col-md-12">
    <button type="button" class="btn btn-primary" id="button-logout">로그아웃</button>
    <br/>
    <br/>

    <!-- 목록 출력 영역 -->
    <table class="table table-horizontal table-bordered">
        <thead class="thead-strong">
        <tr>
            <th>인덱스</th>
            <th>아이디</th>
            <th>닉네임</th>
            <th>관리자 여부</th>
            <th>가입일</th>
        </tr>
        </thead>
        <tbody id="tbody">

        </tbody>
    </table>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/2.3.0/mustache.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="/js/app/cookies.js"></script>
<script src="/js/app/accounts.js"></script>

</body>
</html>
