{{>layout/header}}

<button type="button" class="btn btn-primary" id="button-logout">로그아웃</button>

<div class="container">
    <div class="row justify-content-center align-items-center" style="height:100vh">
        <div class="col-4">
            <h2>마이페이지</h2>
            <div class="card">
                <div class="card-body">
                    <form action="" autocomplete="off">
                        <label><h4>아이디</h4></label>
                        <div class="form-group" id="accountId">ddd
                        </div>
                        <label><h4>닉네임</h4></label>
                        <div class="form-group" id="nickName">
                        </div>
                        <label><h4>관리자 여부</h4></label>
                        <div class="form-group" id="isAdmin">
                        </div>
                        <label><h4>가입일</h4></label>
                        <div class="form-group" id="joinDate">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="/js/app/cookies.js"></script>
<script src="/js/app/mypage.js"></script>

</body>
</html>

